
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_FitnessFunLayout.cshtml";
}


<div>
    <h1 class="fitness-home-title">Fitness Fun</h1>
    <p class="fitness-home-p">
        Create a exciting workout plan everyday to make going to gym worth your while. 
    </p>
</div>
<div class="fitness-home-link">
    <a id="fitness-home-button" style="padding: 15px 50px;" class="btn btn-danger" asp-action="Select" asp-controller="FitnessFun">Let's Get Started</a>
</div>