@model  LinkMasters.Models.Link
@{
    ViewData["Title"] = "CreateLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 create-link">
        <form asp-action="Create Link" class="link-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="text-align: center;"><h3>New Link</h3></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" id="nickname" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" id="url" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Folder Path (Copy & Paste Path)</label>
                <input asp-for="Url" class="form-control" id="folderpath" disabled="disabled"/>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input type="file" asp-for="FilePath" class="form-control" id="filepath" disabled="disabled" webkitdirectory directory multiple />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Application</label>
                <select asp-for="ApplicationId" class="form-control" asp-items="ViewBag.Applications" id="applications"></select>

            </div>
            @*<div class="form-group">
            <label asp-for="Allowance" class="control-label"></label>
            <input asp-for="Allowance" class="form-control" />
            <span asp-validation-for="Allowance" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="DayOfMonth" class="control-label"></label>
            <input asp-for="DayOfMonth" class="form-control" />
            <span asp-validation-for="DayOfMonth" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label class="control-label">Month</label>
            <select id="month-dd" disabled="disabled" asp-for="CalendarId" class="form-control" asp-items="ViewBag.CalendarId"></select>
        </div>*@

            <div class="form-group" style="padding-top: 20px;">
                <input type="submit" value="Create Link" class="btn btn-primary" id="create-link" /> <a class="btn btn-primary" style="float: right;" asp-action="Index" asp-controller="Home">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <script>
        $("#applications").change(function () {
            if ($("#applications").val() == 7 || $("#applications").val() == 8) {
                $("#filepath").removeAttr("disabled");
                $("#url").attr("disabled", "disabled");
                $("#folderpath").attr("disabled", "disabled");
            }
            else if ($("#applications").val() == 13) {
                $("#filepath").attr("disabled", "disabled");
                $("#url").attr("disabled", "disabled");
                $("#folderpath").removeAttr("disabled");
            }
            else {
                $("#url").removeAttr("disabled");
                $("#filepath").attr("disabled", "disabled");
                $("#folderpath").attr("disabled", "disabled");
            }
        })

        $("#create-link").click(function () {
            if ($("#name").val() == "" || $("#nickname").val() == "") {
                alert("Please enter a valid link.");
            }

        })
    </script>
}